<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vitamins Co..</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

  <header>
    <h1>
      Welcome to our Home Page for internal users!
    </h1>

    {{!-- {{#if logged_in}}

    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}} --}}
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    {{!-- <button id="logout" class="btn-no-style">Logout</button> --}}
    <a href="/document">Login</a>
    {{else}}
    <button class="btn" id="logout">logout</button>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h1>Vitamins Company!</h1>
      <img src="/assets/Vitamins.jpg" alt="Company Logo">


      <p>We Provide the Purest Possible Supplements for Your Health! Try Them Today. Vitamin D to Fish Oil to Protein
        Powder. We have Everything You Need for Optimal Health</p>
    </aside>
    <div class="products">
      <div class="container container-fluid mt-5">
        {{{ body }}}

      </div>
    </div>
  </main>


  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}


  <footer>

    <section class="lesson">
      <h2 class="title">Contact Info</h2>
      <ul>
        <!--id attributes to provide unique identifier for element-->
        <li id="email">
          <strong>Shobha Ganesh</strong> <a href="#">sgforcert@gmail.com</a>
        </li>

        <!--id attributes to provide unique identifier for element-->
        <li id="email">
          <strong>MARYNA MARTSENIUK</strong> <a href="#">marina.ved80@gmail.com</a>
        </li>

        <!--id attributes to provide unique identifier for element-->
        <li id="email">
          <strong>KaiBurgess</strong> <a href="#">kdburgess12@gmail.com</a>
        </li>



      </ul>
    </section>
  </footer>

</body>


</html>